
.products-page-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
   
}

.product-filter {
    width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
}

.filter-section {
    margin-bottom: 20px;
}
/*seksioni i filterit*/
.filter-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product-grid-scrollable {
    width: 60%;
    overflow-y: auto;
    padding-right: 10px; /* optional spacing */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;

    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px; 
    text-align: center;
    border-radius: 10px;
    transition: transform 0.2s ease;
    background: #fff;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.category-card {
    display: flex;
    text-decoration: none;
    color: inherit;
}
.product-card h3,
.product-card p {
    margin: 5px 0;
    font-size: 0.95rem;
}