body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #111;
}

h2 {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.profile-input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

button[type="button"],
button[type="submit"] {
    padding: 14px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #c7012d;
    color: white;
    transition: background-color 0.3s ease;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #a90026;
}

#save-btn {
    display: none;
}

.bottom-space {
    height: 30px;
}

.fa-arrow-left {
    text-decoration: none;
    color: #111;
    font-size: 18px;
    display: block;
    margin: 20px auto 0 20px;
}