body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background: linear-gradient(to top, rgb(73, 8, 27), black);
    color: white;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 300px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #888;
}

.footer-column a {
    display: block;
    color: #aaa;
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 13px;
}

.footer-column a:hover {
    color: rgba(158,37,72,255);
}


#phone-number {
    color: #888;
    text-decoration: none;
}

#phone-number:hover {
    color: blue;
}

#email-color:hover {
    color: blue;
}


.social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}


.subscribe {
    display: flex;
}

.subscribe input {
    padding: 10px;
    border: none;
    flex: 1;
}

.subscribe button {
    background: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
}

.footer-divider {
    width: 95%;
    height: 1px;
    background-color: #555;
    margin: 10px auto;
}

.footer-bottom p {
    color: #888;
    font-size: 12px;
    margin: 0;
}

